/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Helper classes
   ========================================================================== */
.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html {
  font-size: 10px;
  font-family: 'Special Elite', cursive, monospace;
  background-color: #ec6350; }

.wrapper {
  width: 90%;
  margin: 0 5%; }
  @media only screen and (min-width: 1140px) {
    .wrapper {
      width: 1026px;
      /* 1140px - 10% for margins */
      margin: 0 auto; } }

.header-container {
  background-color: #ec6350;
  position: relative;
  z-index: 100; }
  .header-container h1 {
    text-transform: uppercase; }
  .header-container nav {
    background-color: #000000; }
    .header-container nav ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
    .header-container nav a {
      color: #ffffff;
      padding: 10px 20px;
      display: block;
      text-decoration: none;
      text-transform: uppercase; }
  @media only screen and (min-width: 768px) {
    .header-container {
      box-shadow: 0 5px 10px #aaa; } }

.movie-texts header h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 4em; }

.movie-text {
  position: relative;
  min-height: 450px; }
  .movie-text p {
    text-align: center; }
  .movie-text blockquote {
    position: absolute;
    top: 0;
    left: 50%;
    background-color: #FFFFFF;
    opacity: 1;
    text-align: center;
    font-size: 2em;
    max-width: 400px;
    margin: 0 auto;
    padding: 15px 30px;
    margin-top: 1em;
    margin-bottom: 1em;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-height: 225px;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    transition: all 200ms ease-in-out;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -webkit-transform: translate3d(-50%, 0, 0) rotate(0deg);
            transform: translate3d(-50%, 0, 0) rotate(0deg);
    transition: 1s ease-out all; }
    .movie-text blockquote.new {
      opacity: 0; }

.movie-text--wrapper {
  min-height: 150px; }

.btn-default {
  border: none;
  display: block;
  background: black;
  color: white;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  height: auto;
  line-height: 1.5em;
  margin: 0 auto;
  position: relative;
  transition: 200ms ease-out transform;
  transition: all 200ms ease-in-out;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border: 1px solid transparent; }
  .btn-default:hover {
    -webkit-transform: translate(0, -1px);
        -ms-transform: translate(0, -1px);
            transform: translate(0, -1px);
    transition: all 200ms ease-in-out;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }
  .btn-default:active {
    -webkit-transform: translate(0, 2px);
        -ms-transform: translate(0, 2px);
            transform: translate(0, 2px);
    transition: all 200ms ease-in-out;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
  .btn-default:focus {
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.5);
    transition: all 200ms ease-in-out;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

.btn-generate {
  width: 100%;
  font-size: 4em;
  margin-bottom: 20px; }
  @media only screen and (min-width: 480px) {
    .btn-generate {
      width: 400px; } }
  @media only screen and (min-width: 768px) {
    .btn-generate {
      width: 500px; } }

.btn-sharezvous {
  font-size: 2em; }

.main-container {
  position: relative;
  background-color: #ffffff;
  min-height: 50vh;
  padding-bottom: 150px;
  -webkit-perspective: 100px;
          perspective: 100px;
  -webkit-perspective-origin: 50% 25%;
          perspective-origin: 50% 25%; }
  .main-container:before {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.25;
    -webkit-filter: saturate(0);
            filter: saturate(0); }
  .main-container.bg-1:before {
    background-image: url(../img/josh-brolin.jpg); }
  .main-container.bg-2:before {
    background-image: url(../img/moviepitch.jpg); }

.footer-container {
  background-color: #ec6350; }

footer {
  text-align: right;
  color: #fff;
  padding-top: 20px;
  padding-bottom: 20px; }
  footer p {
    margin: 0;
    font-size: 1em; }
  footer a {
    color: inherit; }

/*# sourceMappingURL=styles.css.map */
