/* Imports */
/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Helper classes
   ========================================================================== */
.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

/* Global Vars */
/* Mixins */
/* Main styles */
html {
  font-size: 10px;
  font-family: 'Special Elite', cursive, monospace;
  height: 100%;
  background-image: url(../img/background.jpg);
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  background-attachment: fixed; }

.wrapper {
  width: 90%;
  margin: 0 5%; }
  @media only screen and (min-width: 1140px) {
    .wrapper {
      width: 1026px;
      /* 1140px - 10% for margins */
      margin: 0 auto; } }

.btn-default {
  margin-left: 1em;
  font-size: 1.5em;
  border: none;
  display: inline-block;
  background: black;
  color: white;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  min-width: 200px;
  height: auto;
  line-height: 1.5em;
  margin-left: 1em;
  padding: 10px 20px;
  position: relative;
  transition: 200ms ease-out transform;
  transition: all 200ms ease-in-out;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border: 1px solid transparent; }
  .btn-default:hover {
    -webkit-transform: translate(0, -1px);
        -ms-transform: translate(0, -1px);
            transform: translate(0, -1px);
    transition: all 200ms ease-in-out;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }
  .btn-default:active {
    -webkit-transform: translate(0, 2px);
        -ms-transform: translate(0, 2px);
            transform: translate(0, 2px);
    transition: all 200ms ease-in-out;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
  .btn-default:focus {
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.5);
    transition: all 200ms ease-in-out;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }
  .btn-default i {
    font-size: 1.75em;
    margin-left: 0.75em; }

/* Template Styles */
.header-container .wrapper {
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 75px; }

.header-container h1 {
  color: #e3c680;
  font-family: 'Limelight', Georgia, cursive;
  font-size: 1.8em;
  margin-top: 0;
  margin-bottom: 0; }

.main-container {
  position: relative;
  min-height: 50vh;
  -webkit-perspective: 100px;
          perspective: 100px;
  -webkit-perspective-origin: 50% 25%;
          perspective-origin: 50% 25%; }

.landing {
  position: relative;
  letter-spacing: 0.1em;
  line-height: 1.5em;
  font-size: 2em; }
  .landing h2 {
    margin-top: 0;
    margin-bottom: 25px;
    text-transform: uppercase;
    text-decoration: underline;
    letter-spacing: 0.125em; }
  .landing p {
    margin: 0; }
  .landing section.intro {
    position: relative; }
  .landing .intro-text {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #e8e2e2;
    margin-left: 75px;
    padding: 60px 25px; }
  .landing section.buttons {
    text-align: center; }
    .landing section.buttons .btn {
      margin: 25px 0 0; }
  .landing .perforation {
    height: 100%;
    width: 75px;
    background: rgba(0, 0, 0, 0.025) url(../img/perforated.png) repeat-y;
    position: absolute;
    left: 0;
    top: 0; }

.movie-texts header h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 4em; }

.movie-text {
  -webkit-perspective: 150px;
          perspective: 150px;
  position: relative;
  min-height: 300px;
  padding-top: 50px;
  padding-bottom: 50px;
  transition: -webkit-transform ease-out 250ms;
  transition: transform ease-out 250ms;
  transition: transform ease-out 250ms, -webkit-transform ease-out 250ms; }
  .movie-text p {
    text-align: center; }
  .movie-text blockquote {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    margin: 0 auto;
    max-width: 630px;
    min-height: 225px;
    opacity: 1;
    letter-spacing: 0.1em;
    line-height: 1.5em;
    font-size: 2em;
    transition: all 200ms ease-in-out;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -webkit-transform: translate3d(-50%, 0, 0) rotate(0deg);
            transform: translate3d(-50%, 0, 0) rotate(0deg);
    transition: 1s ease-out all; }
    .movie-text blockquote h2 {
      margin-top: 0;
      margin-bottom: 25px;
      text-transform: uppercase;
      text-decoration: underline;
      letter-spacing: 0.125em; }
    .movie-text blockquote.new {
      opacity: 0;
      pointer-events: none; }
    .movie-text blockquote .perforation {
      height: 100%;
      width: 75px;
      background: rgba(0, 0, 0, 0.025) url(../img/perforated.png) repeat-y;
      position: absolute;
      left: 0;
      top: 0; }
    .movie-text blockquote .quotetext {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      background-color: #e8e2e2;
      margin-left: 75px;
      padding: 60px 25px;
      min-height: 110px; }

.movie-text--wrapper {
  min-height: 150px; }

.buttons {
  text-align: right; }

/* Footer */
.footer-container {
  position: fixed;
  bottom: 0;
  width: 100%; }

footer {
  text-align: right;
  color: #fff;
  padding-top: 20px;
  padding-bottom: 20px; }
  footer p {
    margin: 0;
    font-size: 1em; }
  footer a {
    color: inherit; }

/*# sourceMappingURL=styles.css.map */
