/* Imports */
/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Helper classes
   ========================================================================== */
.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

/* Global Vars */
/* Mixins */
/* Main styles */
html {
  font-size: 10px;
  font-family: 'Special Elite', monospace;
  height: 100%;
  background-color: #562920;
  background-image: url(../img/desk@mob.jpg), url(../img/desk@mob-pattern.jpg);
  background-repeat: no-repeat, repeat;
  background-position: 50%;
  background-attachment: fixed; }
  @media only screen and (min-width: 640px) {
    html {
      background-image: url(../img/desk@0,5x.jpg);
      background-size: cover; } }
  @media only screen and (min-width: 1140px) {
    html {
      background-repeat: no-repeat;
      background-size: initial;
      background-image: url(../img/desk.jpg);
      background-position: 50% 0%; } }

body {
  height: 100vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: justify;
      justify-content: space-between; }
  @media only screen and (min-width: 768px) {
    body {
      min-height: 850px; } }
  @media only screen and (min-width: 1140px) {
    body {
      min-height: 950px; } }

.wrapper {
  width: 90%;
  margin: 0 5%; }
  @media only screen and (min-width: 1140px) {
    .wrapper {
      width: 1026px;
      /* 1140px - 10% for margins */
      margin: 0 auto; } }

.btn-default {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: end;
      align-items: flex-end;
  margin: 1em 0em 2em;
  font-size: 1.5em;
  border: none;
  background: black;
  color: white;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  min-width: 200px;
  height: auto;
  line-height: 1.5em;
  padding: 10px 20px;
  position: relative;
  transition: 200ms ease-out transform;
  transition: all 200ms ease-in-out;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border: 1px solid transparent; }
  .btn-default:hover {
    -ms-transform: translate(0, -1px);
        transform: translate(0, -1px);
    transition: all 200ms ease-in-out;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }
  .btn-default:active {
    -ms-transform: translate(0, 2px);
        transform: translate(0, 2px);
    transition: all 200ms ease-in-out;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
  .btn-default:focus {
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.5);
    transition: all 200ms ease-in-out;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }
  .btn-default i {
    font-size: 1.75em;
    margin-left: 0.75em; }
  @media only screen and (min-width: 768px) {
    .btn-default {
      margin-left: 1em;
      margin-right: 1em; } }

.btn-sharezvous {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: end;
      align-items: flex-end;
  margin: 0;
  padding: 5px 15px;
  font-size: 0.75em; }

/* Template Styles */
.header-container {
  -ms-flex: 0 1 auto;
      flex: 0 1 auto;
  position: relative;
  z-index: 1000; }
  .header-container .wrapper {
    max-width: 640px;
    margin-left: auto;
    margin-right: auto; }
  .header-container h1 {
    color: #e3c680;
    font-family: 'Limelight', Georgia, cursive;
    font-size: 1.8em;
    text-align: center;
    margin: 15px auto 10px; }
    .header-container h1 a {
      text-decoration: none;
      color: inherit; }
      .header-container h1 a span {
        display: block; }
      .header-container h1 a:hover {
        text-decoration: underline; }
  @media only screen and (min-width: 768px) {
    .header-container .wrapper {
      padding-top: 50px;
      max-width: 830px; }
    .header-container h1 {
      font-size: 3.75em;
      text-align: center;
      margin: 0; }
      .header-container h1 a span {
        display: inline; } }
  @media only screen and (min-width: 1140px) {
    .header-container .wrapper {
      padding-top: 75px;
      max-width: 830px; }
    .header-container h1 {
      font-size: 4em;
      text-align: center; } }

.main-container {
  -ms-flex: 1 1 auto;
      flex: 1 1 auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center; }
  @media only screen and (min-width: 768px) {
    .main-container {
      perspective: 100px;
      perspective-origin: 50% 25%; } }

.main {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex: 1 1 auto;
      flex: 1 1 auto;
  -ms-flex-item-align: stretch;
      align-self: stretch; }

.landing {
  position: relative;
  letter-spacing: 0.1em;
  line-height: 1.5em;
  font-size: 1.75em; }
  .landing h2 {
    margin-top: 0;
    margin-bottom: 25px;
    font-size: 1.25em;
    text-transform: uppercase;
    text-decoration: underline;
    letter-spacing: 0.125em; }
  .landing p {
    margin: 0; }
  .landing section.intro {
    position: relative; }
  .landing .intro-text {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-direction: column;
        flex-direction: column;
    background-color: #e8e2e2;
    margin-left: 50px;
    padding: 30px 15px; }
  .landing section.buttons {
    text-align: center; }
    .landing section.buttons .btn {
      margin: 25px 0 0; }
  .landing .perforation {
    height: 100%;
    width: 50px;
    background: rgba(0, 0, 0, 0.025) url(../img/perforated.png) repeat-y;
    position: absolute;
    left: 0;
    top: 0; }
  @media only screen and (min-width: 768px) {
    .landing {
      font-size: 2em; }
      .landing .perforation {
        width: 75px; }
      .landing .intro-text {
        margin-left: 75px;
        padding: 60px 25px; } }

.movie-texts {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex: 1 1 auto;
      flex: 1 1 auto; }
  .movie-texts header h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 4em; }

.movie-text {
  -ms-flex: 1 1 auto;
      flex: 1 1 auto;
  position: relative;
  min-height: 300px;
  padding-top: 50px;
  padding-bottom: 50px;
  transition: transform ease-out 250ms; }
  .movie-text blockquote {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    margin: 0 auto;
    max-width: 630px;
    min-height: 225px;
    opacity: 1;
    font-size: 1.5em;
    letter-spacing: 0em;
    line-height: 1.25em;
    transition: all 200ms ease-in-out;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transform: translate3d(-50%, 0, 0) rotate(0deg);
    transition: 1s ease-out all; }
    .movie-text blockquote h2 {
      margin-top: 0;
      margin-bottom: 25px;
      text-transform: uppercase;
      text-decoration: underline;
      letter-spacing: 0.125em; }
    .movie-text blockquote.new {
      opacity: 0;
      pointer-events: none; }
    .movie-text blockquote .perforation {
      height: 100%;
      width: 50px;
      background: rgba(0, 0, 0, 0.025) url(../img/perforated.png) repeat-y;
      position: absolute;
      left: 0;
      top: 0; }
    .movie-text blockquote .quotetext {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: center;
          justify-content: center;
      -ms-flex-direction: column;
          flex-direction: column;
      background-color: #e8e2e2;
      margin-left: 50px;
      padding: 30px 20px;
      min-height: 170px; }
    .movie-text blockquote .btn-sharezvous {
      pointer-events: none;
      opacity: 0.1;
      transition: opacity 250ms; }
    .movie-text blockquote:nth-last-of-type(-n+2) .btn-sharezvous {
      opacity: 1;
      pointer-events: initial; }
  @media only screen and (min-width: 768px) {
    .movie-text {
      perspective: 150px; }
      .movie-text blockquote {
        font-size: 2em;
        letter-spacing: 0.1em;
        line-height: 1.5em; }
        .movie-text blockquote .perforation {
          width: 75px; }
        .movie-text blockquote .quotetext {
          margin-left: 75px;
          padding: 60px 25px; } }

.share-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
      justify-content: flex-end;
  -ms-flex-align: end;
      align-items: flex-end; }

.movie-text--wrapper {
  min-height: 150px; }

.buttons {
  text-align: center; }
  @media only screen and (max-width: 767px) {
    .buttons button {
      display: block;
      width: 100%;
      margin: 0; }
      .buttons button:not(:last-child) {
        margin-bottom: 20px; } }

/* Footer */
.footer-container {
  -ms-flex: 0 1 auto;
      flex: 0 1 auto; }
  .footer-container .fb-like {
    filter: sepia(1); }
  @media only screen and (max-width: 767px) {
    .footer-container .fb-like {
      display: block;
      margin: 20px auto 10px;
      text-align: center; } }
  @media only screen and (min-width: 768px) {
    .footer-container {
      opacity: 0.6;
      transition: opacity 100ms ease-out; }
      .footer-container:hover {
        opacity: 1; }
        .footer-container:hover .fb-like {
          width: 50px; } }

.footer-credits {
  overflow: hidden; }
  @media only screen and (min-width: 768px) {
    .footer-credits {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: justify;
          justify-content: space-between; }
      .footer-credits > div {
        -ms-flex: 1 1 auto;
            flex: 1 1 auto; } }

footer {
  text-align: center;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #ffffff;
  padding-top: 20px;
  padding-bottom: 20px; }
  footer p {
    margin: 0;
    font-size: 1.15em; }
  footer a {
    color: inherit; }
  @media only screen and (min-width: 768px) {
    footer .fc-legal p {
      text-align: left; }
    footer .fc-credits {
      text-align: right;
      transition: margin 150ms ease-out; }
      footer .fc-credits p {
        display: inline-block; }
    footer .fb-like {
      width: 0px;
      float: right;
      margin-left: 1em;
      transition: width 250ms ease-out; } }

/*# sourceMappingURL=styles.css.map */
