/* Imports */

@import 'boilerplate-reset';

/* Global Vars */

$brand-main: #e3c680;

/* Mixins */

// Material design shadow. 1 = normal, 3 is hover, 5 is omg, hoverboard
// level 1 to 5
@mixin depthShadow($level) {
  transition: all 200ms ease-in-out;
  @if ($level == 1) {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  } @else if ($level == 2){
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  } @else if ($level == 4){
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  } @else if ($level == 5){
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  } @else{ // Aka Level 3:
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  } 
}

/* Main styles */

html{
  font-size: 10px;
  font-family: 'Special Elite', cursive, monospace;
  height: 100%;
  background-image: url(../img/background.jpg);
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.wrapper{
  width: 90%;
  margin: 0 5%;
  @media only screen and (min-width: 480px) {
  }
  @media only screen and (min-width: 768px) {
  }
  @media only screen and (min-width: 1140px) {
    width: 1026px; /* 1140px - 10% for margins */
    margin: 0 auto;
  }
}


.btn-default{
  margin-left: 1em;
  font-size: 1.5em;
  border: none;
  display: inline-block;
  background: black;
  color: white;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  min-width: 200px;
  height: auto;
  line-height: 1.5em;
  // margin: 0 auto;
  margin-left: 1em;
  padding: 10px 20px;
  position: relative;
  transition: 200ms ease-out transform;
  @include depthShadow(3);
  border: 1px solid transparent;
  &:hover{
    transform: translate(0,-1px);
    @include depthShadow(4);
  }
  &:active{
    transform: translate(0,2px);
    @include depthShadow(2);
  }
  &:focus{
    outline: none;
    border: 1px solid rgba(255,255,255,0.5);
    @include depthShadow(3);
  }
  i{
    font-size: 1.75em;
    margin-left: 0.75em;
  }
}

/* Template Styles */

.header-container{
  .wrapper{
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
  }
  h1{
    color: $brand-main;
    font-family: 'Limelight', Georgia, cursive;
    font-size: 1.8em;
    text-align: center;
    margin: 15px auto 10px;
    a{
      text-decoration: none;
      color: inherit;
      &:hover{
        text-decoration: underline;
      }
    }
  }
  @media only screen and (min-width: 480px) {
    .wrapper{

    }
    h1{

    }
  }
  @media only screen and (min-width: 768px) {
    .wrapper{
      padding-top: 75px;
    }
    h1{
      text-align: left;
      margin: 0;
    }
  }
  @media only screen and (min-width: 1140px) {
  }
}
.main-container{
  position: relative;
  min-height: 50vh;
  @media only screen and (min-width: 768px) {
    perspective: 100px;
    perspective-origin: 50% 25%;
  }
}
.landing{
  position: relative;
  letter-spacing: 0.1em;
  line-height: 1.5em;
  font-size: 1.75em;
  h2{
    margin-top: 0;
    margin-bottom: 25px;
    font-size: 1.25em;
    text-transform: uppercase;
    text-decoration: underline;
    letter-spacing: 0.125em;
  }
  p{
    margin: 0;
  }
  section.intro{
    position: relative;
  }
  .intro-text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #e8e2e2;
    margin-left: 50px;
    padding: 30px 15px;
  }
  section.buttons{
    text-align: center;
    .btn{
      margin: 25px 0 0;
    }
  }
  .perforation{
    height: 100%;
    width: 50px;
    background: rgba(0,0,0,0.025)  url(../img/perforated.png) repeat-y;
    position: absolute;
    left: 0;
    top: 0;
  }
  @media only screen and (min-width: 768px) {
    font-size: 2em;
    h2{
      // font-size: 1.5em;
    }
    p{
      // font-size: 1.5em;
    }
    .perforation{
      width: 75px;
    }
    .intro-text{
      margin-left: 75px;
      padding: 60px 25px;
    }
  }
}
.movie-texts{
  header{
    h2{
      text-align: center;
      text-transform: uppercase;
      font-size: 4em;
    }
  }
}
.movie-text{
  position: relative;
  min-height: 300px;
  padding-top: 50px;
  padding-bottom: 50px;
  transition: transform ease-out 250ms;
  p{
    text-align: center;
  }
  blockquote{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    margin: 0 auto;
    max-width: 630px;
    min-height: 225px;
    opacity: 1;

    font-size: 1.5em;
    letter-spacing: 0em;
    line-height: 1.25em;
    @include depthShadow(2);
    transform: translate3d(-50%,0,0) rotate(0deg);
    transition: 1s ease-out all;
    h2{
      margin-top: 0;
      margin-bottom: 25px;
      text-transform: uppercase;
      text-decoration: underline;
      letter-spacing: 0.125em;
    }
    &.new{
      opacity: 0;
      pointer-events: none;
    }
    .perforation{
      height: 100%;
      width: 50px;
      background: rgba(0,0,0,0.025)  url(../img/perforated.png) repeat-y;
      position: absolute;
      left: 0;
      top: 0;
    }
    .quotetext{
      display: flex;
      justify-content: center;
      flex-direction: column;
      background-color: #e8e2e2;
      margin-left: 50px;
      padding: 30px 20px;
      min-height: 170px;
    }
  }
  @media only screen and (min-width: 480px) {
  }
  @media only screen and (min-width: 768px) {
    perspective: 150px;
    blockquote {
      font-size: 2em;
      letter-spacing: 0.1em;
      line-height: 1.5em;
      .perforation{
        width: 75px;
      }
      .quotetext{
        margin-left: 75px;
        padding: 60px 25px;
      }
    }
  }
  @media only screen and (min-width: 1140px) {
  }
}
.movie-text--wrapper{
  min-height: 150px;
}
.buttons{
  text-align: right;
  @media only screen and (max-width: 767px) {
    text-align: center;
    button{
      display: block;
      width: 100%;
      margin: 0;
      &:not(:last-child){
        margin-bottom: 20px;
      }
    }
  }
  @media only screen and (min-width: 768px) {
  }
  @media only screen and (min-width: 1140px) {
  }
}

/* Footer */

.footer-container{
  @media only screen and (max-width: 767px) {
    .fb-like{
      display: block;
      margin: 20px auto 10px;
      text-align: center;
    }
  }
  @media only screen and (min-width: 768px) {
    opacity: 0.5;
    transition: opacity 100ms ease-out;
    position: fixed;
    bottom: 0;
    width: 100%;
    &:hover{
      opacity: 1;
      .fb-like{
        width: 50px;
      }
    }
    .fb-like{
      width: 0px;
      margin-left: 1em;
      transition: width 250ms ease-out;
    }
  }
  @media only screen and (min-width: 1140px) {
  }
}
.footer-credits{
  overflow: hidden;
}
footer{
  text-align: center;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  // color: #fff;
  color: #ffffff;
  padding-top: 20px;
  padding-bottom: 20px;
  p{
    margin: 0;
    font-size: 1em;
  }
  a{
    color: inherit;
  }

  @media only screen and (min-width: 480px) {
  }
  @media only screen and (min-width: 768px) {
    text-align: right;
    .fc-legal{
      float: left;
    }
    .fc-credits{
      float: right;
      transition: margin 150ms ease-out;
      // margin-right: -50px;
      p{
        display: inline-block;
      }
    }
  }
  @media only screen and (min-width: 1140px) {
  }
}