/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}



.wrapper {
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

// level 1 to 5
@mixin depthShadow($level) {
  transition: all 200ms ease-in-out;
  @if ($level == 1) {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  } @else if ($level == 2){
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  } @else if ($level == 4){
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  } @else if ($level == 5){
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  // } @else if ($level == 3){
  //  LEVEL 3 IS HOVER
  } @else{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  } 
}


$brand-main: #ec6350;

html{
  font-size: 10px;
  // font-family: 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-family: 'Special Elite', cursive, monospace;
  background-color: $brand-main;
}
.wrapper{

  width: 90%;
  margin: 0 5%;
  @media only screen and (min-width: 480px) {
  }
  @media only screen and (min-width: 768px) {
  }
  @media only screen and (min-width: 1140px) {
    width: 1026px; /* 1140px - 10% for margins */
    margin: 0 auto;
  }
}
.header-container{
  background-color: $brand-main;
  position: relative;
  z-index: 100;
  h1{
    text-transform: uppercase;
  }
  nav{
    background-color: #000000;
    ul{
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
    }
    li{

    }
    a{
      color: #ffffff;
      padding: 10px 20px;
      display: block;
      text-decoration: none;
      text-transform: uppercase;
    }
  }

  @media only screen and (min-width: 480px) {
  }
  @media only screen and (min-width: 768px) {
    box-shadow: 0 5px 10px #aaa;
  }
  @media only screen and (min-width: 1140px) {
  }
}
.movie-texts{
  header{
    h2{
      text-align: center;
      text-transform: uppercase;
      font-size: 4em;
    }
  }
}
.movie-text{
  position: relative;
  min-height: 450px;
  p{
    text-align: center;
  }
  blockquote{
    position: absolute;
    top: 0;
    left: 50%;


    background-color: #FFFFFF;
    opacity: 1;

    text-align: center;
    // position: relative;
    font-size: 2em;
    // font-style: italic;
    max-width: 400px;
    margin: 0 auto;
    padding: 15px 30px;
    margin-top: 1em;
    margin-bottom: 1em;

    display: flex;
    min-height: 225px;
    justify-content: center;
    flex-direction: column;
    @include depthShadow(1);
    transform: translate3d(-50%,0,0) rotate(0deg);
    transition: 1s ease-out all;
    &.new{
      // transform: translate3d(-50%, 0px, 60px) rotate(-7deg);
      opacity: 0;
    }
  }
}
.movie-text--wrapper{
  min-height: 150px;
}

.btn-default{
  border: none;
  display: block;
  background: black;
  color: white;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  height: auto;
  line-height: 1.5em;
  margin: 0 auto;
  position: relative;
  transition: 200ms ease-out transform;
  @include depthShadow(2);
  border: 1px solid transparent;
  &:hover{
    transform: translate(0,-1px);
    @include depthShadow(3);
  }
  &:active{
    transform: translate(0,2px);
    @include depthShadow(1);
  }
  &:focus{
    outline: none;
    border: 1px solid rgba(255,255,255,0.5);
    @include depthShadow(2);
  }
}

.btn-generate{
  width: 100%;
  // height: 200px;
  font-size: 4em;
  margin-bottom: 20px;
  @media only screen and (min-width: 480px) {
    width: 400px;
  }
  @media only screen and (min-width: 768px) {
    width: 500px;
  }
}
.btn-sharezvous{
  // width: 500px;
  // height: 200px;
  font-size: 2em;
}




.main-container{
  position: relative;
  background-color: #ffffff;
  min-height: 50vh;
  padding-bottom: 150px;
  perspective: 100px;
  &:before{
    content: "";
    position: absolute;
    // background-image: url(../img/josh-brolin.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.25;
    filter: saturate(0);
  }
  &.bg-1{
    &:before{
      background-image: url(../img/josh-brolin.jpg);
    }
  }
  &.bg-2{
    &:before{
      background-image: url(../img/moviepitch.jpg);
    }
  }
}

.footer-container{
  background-color: $brand-main;
}
footer{
  text-align: right;
  color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
  p{
    margin: 0;
    font-size: 1em;
  }
  a{
    color: inherit;
  }
}
